:host {
  display: flex;
  flex-direction: column;
  margin: 0 0 30px;
}

.label {
  color: #666666;
  font-size: 14px;
  font-weight: 400;
  margin: 0 0 3px;
}

.input {
  background-color: transparent;
  border: none;
  border-bottom: #e2e2e2 solid 2px;
  font-family: inherit;
  font-size: 1.2em;
  line-height: 1.4em;
  padding: 3px 2px;

  &:focus {
    border-bottom: var(--primary1) solid 2px;
    outline: none;
  }
}

.textarea {
  height: 100%;
}
